
services:
  productpage:
    image: docker.io/istio/examples-bookinfo-productpage-v1:1.20.1
    container_name: productpage
    ports:
      - "9080:9080"
    environment:
      - DETAILS_HOSTNAME=details
      - DETAILS_SERVICE_PORT=9080
      - REVIEWS_HOSTNAME=reviews
      - REVIEWS_SERVICE_PORT=9080
    networks:
      - bookinfo
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9080/health"]
      interval: 10s
      timeout: 5s
      retries: 3

  details:
    image: docker.io/istio/examples-bookinfo-details-v1:1.20.1
    container_name: details
    ports:
      - "9081:9080"
    networks:
      - bookinfo
    environment:
      - THIS=that
      - THIS_TOO=that_too
      - THIS_TOO_MUCH=that_too_much
      - THOSE=them
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9080/health"]
      interval: 10s
      timeout: 5s
      retries: 3

  reviews:
    image: docker.io/istio/examples-bookinfo-reviews-v1:1.20.1
    container_name: reviews
    ports:
      - "9082:9080"
    environment:
      - RATINGS_HOSTNAME=ratings
      - RATINGS_SERVICE_PORT=9080
    networks:
      - bookinfo
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9080/health"]
      interval: 10s
      timeout: 5s
      retries: 3

  ratings:
    image: docker.io/istio/examples-bookinfo-ratings-v1:1.20.1
    container_name: ratings
    ports:
      - "9083:9080"
    # this actually isn't used. just adding it here for reasons.
    environment:
      - MONGO_HOST=mongodb
      - MONGO_PORT=27017
      - MONGO_DATABASE=ratings
      - MONGO_COLLECTION=ratings
      - MONGO_USER=root
      - MONGO_PASSWORD=password
      - MONGO_AUTH_SOURCE=admin
      - MONGO_AUTH_MECHANISM=SCRAM-SHA-1
      - MONGO_AUTH_SOURCE=admin
    networks:
      - bookinfo
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9080/health"]
      interval: 10s
      timeout: 5s
      retries: 3

  traffic-generator:
    build:
      context: ./traffic-generator
    container_name: traffic-generator
    networks:
      - bookinfo
    depends_on:
      - productpage
      - details
      - reviews
      - ratings
    profiles:
      - tools

networks:
  bookinfo:
    driver: bridge

